$text-color: #1C1C1C;
$banner-color: #f6bed9;
$accent-color: #6F2CFF;
$accent-color-dark: #4201a2;
$bg-color: #fff;

$font-family: 'Montserrat', sans-serif;
$font-weight-light: 200;
$font-weight-reg: 300;
$font-weight-bold: 500;

$font-size-small: 0.9rem;
$font-size-text: 1.125rem;
$font-size-heading: 2.3rem;

// Add text sizes